@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/hybrid.min.css";

/* This file is for your main application CSS */

:root {
  --phoneWidth: (max-width:684px);
  --tabletWidth: (max-width:900px);
  --primary: #EE72F1;
  --secondary: #06BCC1;
  --tertiary: #E6B89C;
  --background: #21202c;
  --background-accent: #000;
  --color: #fff;
  --subtle: hsla(0, 0%, 100%, 0.1);
  /* --border-color: hsla(0,0%,100%,0.1); */
  /* --border-color: var(--primary); */
  --border-color: var(--secondary);
  --border-space: 1em;
  --border-width: 1px;
  --span-space: 0.25em;
}

header {
  border-color: var(--border-color);
  border-style: solid;
  border-radius: var(--border-space);
  padding: var(--border-space);
  margin-bottom: var(--border-space);
  border-width: var(--border-width);
  font-size: x-large;
}

nav {
  border-color: var(--border-color);
  border-style: solid;
  border-radius: var(--border-space);
  padding: var(--border-space);
  margin-bottom: var(--border-space);
  border-width: var(--border-width);
  font-size: x-large;
}

#in_border {
  border-color: var(--border-color);
  border-style: solid;
  border-radius: var(--border-space);
  padding: var(--border-space);
  margin-bottom: var(--border-space);
  border-width: var(--border-width);
  font-weight: light;
  /* max-height: 10vh; */
  /* overflow: hidden; */
}

li {
  padding-left: var(--border-space);
}

ul {
  margin-bottom: var(--border-space);
}

ul ul {
  margin-bottom: 0;
}

ol {
  margin-bottom: var(--border-space);
}

ul>li {
  list-style: "- " inside;
}

ol>li {
  list-style: latin inside;
}

li>ul {
  margin-top: 0;
}

nav>ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav>ul>li {
  padding-left: var(--border-space);
  padding-right: var(--border-space);
  float: right;
  border-left: 1px solid var(--border-color);
}

nav>ul>li:first-child {
  float: left;
  border-left: none;
}

nav>ul>li:last-child {
  border-left: none;
}

body {
  background-color: var(--background);
  color: var(--color);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: large;
}

main {
  background-color: var(--background);
  color: var(--color);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: large;
  padding-top: 0;
  padding-bottom: 2.5vh;
}

h1 {
  color: var(--primary);
  text-align: center;
  /* margin-bottom: calc(2 * var(--border-space)); */
  margin-bottom: var(--border-space);
  font-size: xx-large;
  font-weight: bold;
}

h2,
h3,
h4 {
  border-bottom: 1px solid var(--primary);
  padding: var(--border-space);
  padding-top: calc(2 * var(--border-space));
  margin-left: 0;
  margin-bottom: var(--border-space);
  font-size: large;
}

h3 {
  border-bottom: 1px solid var(--secondary);
}

h4 {
  border-bottom: 1px solid var(--tertiary);
}

details>h1 {
  color: var(--background);
}

a:link {
  color: var(--secondary);
}

a:visited {
  color: var(--tertiary);
}

a:hover {
  color: var(--primary);
}

details a:hover {
  color: var(--background);
}

#read_more {
  text-decoration: none;
  color: var(--background);
  border-color: var(--border-color);
  border-style: solid;
  border-radius: var(--border-space);
  padding: var(--border-space);
  margin-top: var(--border-space);
  margin-bottom: var(--border-space);
  border-width: var(--border-width);
  display: block;
  text-align: center;
}

#read_more:link {
  background-color: var(--secondary);
}

#read_more:visited {
  background-color: var(--tertiary);
}

#read_more:hover {
  background-color: var(--primary);
}

#content {
  width: 50%;
  margin: 0 auto;
  border-color: var(--border-color);
  border-style: solid;
  border-radius: var(--border-space);
  border-width: var(--border-width);
  padding: var(--border-space);
}

#horiz {
  display: flex;
  color: var(--secondary);
  filter: brightness(80%);
}

.flex {
  border-style: none;
}

ul {
  border-style: none;
}

#sep {
  margin-left: var(--span-space);
  margin-right: var(--span-space);
}

#post {
  padding-top: var(--border-space);
  padding-bottom: var(--border-space);
  border-top-color: var(--border-color);
  border-top-style: solid;
  border-width: var(--border-width);
}

#title {
  font-weight: bold;
  color: var(--primary);
}

#post_meta {
  margin-bottom: var(--border-space);
  font-size: x-large;
}

#description {
  margin-left: var(--border-space);
}

#pager {
  border-color: var(--border-color);
  border-style: solid;
  border-radius: var(--border-space);
  border-width: var(--border-width);
  padding: var(--border-space);
}

#tag_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: var(--border-space);
  overflow: hidden;
  display: flex;

  border-color: var(--border-color);
  border-bottom-style: solid;
  border-width: var(--border-width);
}

#tag_list>li {
  padding-left: var(--border-space);
  padding-right: var(--border-space);
  border-left: 1px solid var(--border-color);
  list-style-type: none;
}

#tag_list>li:first-child {
  border-left: none;
  padding-left: 0;
}

button {
  display: block;
  position: absolute;
  right: 27%;
  margin: var(--border-space);
  padding: var(--border-space);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  background-color: var(--background-color);
  border: 1px;
  border-radius: var(--border-space);
  color: var(--primary);
  box-shadow: 0 9px var(--primary);
  border-color: var(--primary);
  outline: 1px solid var(--primary);
  font-size: x-small;
}

button:hover {
  color: var(--secondary);
  box-shadow: 0 9px var(--secondary);
  border-color: var(--secondary);
  outline: 1px solid var(--secondary);
}

button:active {
  color: var(--tertiary);
  box-shadow: 0 5px var(--tertiary);
  border-color: var(--tertiary);
  outline: 1px solid var(--tertiary);
  transform: translateY(4px);
}

pre>code.language-plaintext {
  background-color: var(--primary);
  color: var(--background);
  border-color: var(--border-color);
  border-style: solid;
  border-radius: var(--border-space);
  padding: var(--border-space);
  margin-bottom: var(--border-space);
  border-width: var(--border-width);
}

details>pre>code.language-plaintext {
  background-color: var(--secondary);
}

:not(pre)>code {
  background-color: var(--secondary);
  color: var(--background);
  border-radius: var(--border-space);
  padding-left: calc(var(--border-space)/2);
  padding-right: calc(var(--border-space)/2);
  font-family: "Source Code Pro";
}

pre>code {
  border-color: var(--border-color);
  border-style: solid;
  border-radius: var(--border-space);
  padding: var(--border-space);
  margin-bottom: var(--border-space);
  border-width: var(--border-width);
  font-family: "Fira Code";
}

details {
  background-color: var(--primary);
  color: var(--background);
  border-color: var(--border-color);
  border-style: solid;
  border-radius: var(--border-space);
  padding: var(--border-space);
  margin-top: var(--border-space);
  margin-bottom: var(--border-space);
  border-width: var(--border-width);
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: var(--border-space);
}

details[open] {
  padding: var(--border-space);
}

details[open]>h2 {
  border-color: var(--background);
}

details[open] summary {
  border-bottom: 1px solid var(--secondary);
  margin-bottom: 0.5em;
  border-width: var(--border-width);
}

details[open]>pre>code {
  border-color: var(--border-color);
  border-style: solid;
  border-radius: var(--border-space);
  padding: var(--border-space);
  margin-bottom: var(--border-space);
  border-width: var(--border-width);
}

details[open] pre code.language-plaintext {
  color: var(--color);
  background-color: var(--background);
}

code {
  overflow-x: clip;
  margin-top: var(--border-space);
  margin-bottom: var(--border-space);
}

div:not(.active).step {
  visibility: hidden;
}

.step {
  display: block;
  width: 75vw;
  height: 75vh;
  margin-top: 5vh;
  border-color: var(--border-color);
  border-style: solid;
  border-radius: var(--border-space);
  padding: var(--border-space);
  margin-bottom: var(--border-space);
  border-width: var(--border-width);
  z-index: 1000;
  overflow: scroll;

  /* This forces the background stuff to be hidden */
  background-color: var(--background);

  font-size: xx-large;
}

.step h2,
.step h3,
.step h4 {
  padding: var(--border-space);
  margin-bottom: 0;
}

.step h2:not(:empty),
.step h3:not(:empty),
.step h4:not(:empty) {
  padding: var(--border-space);
  margin-bottom: var(--border-space);
  font-size: xxx-large;
}

.step math {
  font-size: xx-large;
}

.step math[display*="block"] {
  font-size: xxx-large;
}



.fullscreen {
  width: 100vw;
  height: 100vh;
  margin-top: 0vh;
  padding-top: 5vh;
  padding-left: 5vw;
}

#fullscreen_button {
  z-index: 1001;
  position: absolute;
  top: 40vh;
  left: 40vw;
}

blockquote {
  border-top: 1px solid var(--subtle);
  border-bottom: 1px solid var(--subtle);
  padding: var(--border-space);
  /* text-align: center; */
  text-align: justify;
  margin-left: 0;
  margin-top: var(--border-space);
  margin-bottom: var(--border-space);
  font-size: x-large;
  color: var(--primary);
}

blockquote>cite {
  color: var(--secondary);
}

p {
  margin-bottom: var(--border-space);
}

blockquote>p {
  margin-bottom: 0;
}

table,
th,
td {
  border: 1px dashed var(--secondary);
  padding: var(--border-space);
  border-collapse: collapse;
}

table {
  width: 100%;
}

svg>g>text {
  padding-top: var(--border-space);
}

svg {
  display: block;
  margin: auto;
}

.svg-wrapper {
  background-color: var(--primary);
  border-radius: var(--border-space);
  margin-bottom: var(--border-space);
}

.svg-wrapper span.nodeLabel {
  /* font-size: 25px; */
  font-size: 90%;
  margin: var(--span-space);
  vertical-align: top;
}

.svg-wrapper foreignObject {
  overflow: visible;
}

.svg-wrapper .edgeTerminals foreignObject {
  transform: scale(1.75);
  transform-origin: top left;
  font-weight: bolder;
}

.svg-wrapper span.edgeLabel span.edgeLabel {
  /* font-size: 25px; */
  font-size: 90%;
  vertical-align: top;
}

.svg-wrapper text {
  fill: var(--background);
}

.svg-wrapper svg {
  width: 100%;
}

.plot-wrapper {
  background-color: var(--background-accent);
  border-radius: var(--border-space);
  margin-bottom: var(--border-space);
}

.plot-wrapper text {
  fill: var(--color);
}

.plot-wrapper line {
  stroke: var(--background);
}

#qr {
  width: 20vw;
  margin-left: 25vw;
}

math {
  font-size: x-large;
}

math[display*="block"] {
  font-size: xx-large;
}

/*
line {
  stroke: var(--background-accent);
}
*/

aside {
  margin-top: 14vh;
  border-color: var(--subtle);
  border-style: solid;
  border-radius: var(--border-space);
  margin-bottom: var(--border-space);
  border-width: var(--border-width);
  height: 84vh;
  width: 24vw;
}

aside#right-sidebar {
  transform: scaleX(-1);
}

.toots {
  max-width: 100%;
}

.toot {
  list-style: none;
}

.toot .attachment img {
  height: auto;
  width: auto;
}

@media screen and (max-width: 1280px) {
  #content {
    width: 95%;
  }

  aside {
    display: none;
  }
}
